@charset "UTF-8";
 /*
    em HTML é id = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
 */
body{
    background-color: #B0DCF7;
}
h1{
    color: #4C5F6B;

}
h1#principal{
    text-align: center;
    background-color: royalblue;
    color: white;
}
h2{
    color: #7998AB;

}
.basico{
    color: green;
}
.intermediario{
    color: yellow;
}
.avancado{
    color: red;

}