@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
    font-family: 'tecno';
    src: url(../fontes/Seven\ Segment.ttf);
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: rgb(3, 255, 74);
}
body{
    background-image: url('../imagens/ceu-estrelado.png');
    font-family: Arial, Helvetica, sans-serif;
}

section#principal{
    height: 450px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
}

nav{
    padding: 10px;
    text-align: right;
}

nav > a{
    text-decoration: none;
    color: var(--cor0);
    font-weight: bold;
    border-radius: 5px;
    padding: 8px;
    transition-duration: 0.7s;
    font-family: 'tecno';
}

nav > a:hover{
    color: white;
    background-color: var(--cor0);
}

header{
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1{
    color: var(--cor0);
    padding: 10px;
    font-family: 'tecno';
}

header > p{
    color: var(--cor0);

}

main{
   
}
.janelas{
    background-color: var(--cor0);
    height: 300px;
    width: 300px;
    margin: 15px;
    display: inline-block;
    border-radius: 75px;
    box-shadow: 4px 2px  rgb(0, 39, 11);
}

article > h2{
    text-align: center;
    font-family: 'tecno';
    padding-top: 10px;
}

section#principal  img {
    display: block;
    margin: auto;
    width: 85%;
}

article > a >  h3  {
    margin: auto;
    margin-top: 15px;
    text-align: center;
    background-image: url('../imagens/ceu-estrelado.png');
    width:90px;
    height: 27px;
    padding-top: 8px;
    border-radius: 5px;
    color: var(--cor0);
    transition-duration: 0.7s;
    font-family: 'tecno';
    box-shadow: 2px 2px  rgba(0, 0, 0, 0.476);
}
article > a{
    text-decoration: none;
    color: var(--cor0);
}

article> a > h3:hover{
    width:110px;
    height: 32px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1.4em;
}
 
section#sobre{
    background-color: white;
    background-image: url('../imagens/html.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 800px;
    
    position: relative;
    
}

section#sobre p{
    background-color: rgba(0, 0, 0, 0.687);
    color: white;
    font-size: 3vw;
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    max-width: 650px;
    margin-top: 100px;
    margin-left: 30px;

    position: absolute;
    left: 51%;
}

section#sobre  img{

}
section#contato{
    height: 800px;
}